{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Job Application: Joke Writer{% endblock %}
{% block main %}
  <h2 class="text-center">Joke Writer Application</h2>
  <div class="card border-primary m-auto mb-3 p-3" style="max-width: 50rem">
    <form method="post" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.job|as_crispy_field }}
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.last_name|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.email|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.website|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.employment_type|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.start_date|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 mb-0">
          {{ form.available_days|as_crispy_field  }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.desired_hourly_wage|as_crispy_field }}
        </div>
      </div>
      {{ form.cover_letter|as_crispy_field }}
      {{ form.resume|as_crispy_field }}
      {{ form.confirmation|as_crispy_field }}
      <button class="form-control btn btn-success">Apply</button>
    </form>
  </div>
{% endblock %}